/* Reset básico */
* {
    margin: 10px;
    padding: 0px;
    box-sizing: border-box;
    border-radius: 10px;
    border-radius color: overscroll-behavior-block;
}

/* Estilos do corpo */
html {
    scroll-behavior: smooth;

}

body {
    font-family: 'Arial', sans-serif;
    background: linear-gradient(to bottom, #020d16, #06bcf3, rgb(1, 1, 26));
    color: #0c0404ea;
}

/* Estilos para o cabeçalho e menu */
header {
    text-align: center;
    background-color: #0f12d3c4;
    /* Azul escuro */
    color: #010311ee;
    padding: 150px;
    z-index: -10px;
    top: 0x;
    position: sticky;
}

.RodapeInicial {
    width: 300px;
    /* size: adjust 40px; */
    border-width: 40px;
    box-shadow: 40px;
    padding: 30px;
    border-left: #eef5f7;
    border-radius: 40px;
}

.RodapeInicial {
    border: 5px solid #fffcfc;
    /* Altere a cor e a espessura conforme desejado */
    padding: 5px;
    /* Adiciona um espaço entre a imagem e a borda */
    margin: 40px 0;
    /* Adiciona um espaço em cima e embaixo da imagem */
}

.links {
    font-size: 20px;
    color: blueviolet(93, 0, 255);
}

.menu ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

.menu li {
    display: inline;
    margin-right: 30px;
}

.menu a {
    text-decoration: none;
    color: #ffffff;
    /* Branco */
    font-weight: bold;
}

.menu a:hover {
    color: #e70883c4;
    /* Azul claro */
}

/* Estilos das seções */
section {
    /* Conheça mais sobre nós*/
    padding: 20px;
    background-color: #7761e217;
    border-radius: 8px;
    margin: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-decoration: none;
    list-style: none;
    color: #eef5f7;
    color grid-area: border: white: space 20px;
    ;
}

.SERVIÇOS {
    text-align: left;
    color: #eef5f7:#020d16 !important;
    border-radius: 20px;
    margin: 20px;
    text-decoration: none;
    box-shadow: 40px;
    padding: 20px;
}

#SERVIÇOS {
    color: #333;
    /* Cor principal do texto */
}

#SERVIÇOS h2 {
    color: #01060c;
    /* Cor do título principal */
}

#SERVIÇOS h3 {
    color: #1613a5;
    /* Cor dos subtítulos */
}

#SERVIÇOS p {
    color: #fff8f8;
    /* Cor dos parágrafos */
}

#SERVIÇOS ul {
    list-style-type: none;
    /* Remove os pontos */
    padding: 0;
    /* Remove o padding padrão */
}

#SERVIÇOS li:hover {
    background-color: #eeeaea44;
    /* Cor de fundo ao passar o mouse */
    transition: background-color 0.5s;
    /* Transição suave */
}


.Artigos {
    color: rgb(214, 216, 226) !important;
}

.SOBRE-A-EMPRESA {
    color: #f3f6f7;
    !important;
}

.contato {
    /*RODAPÉ FINAL*/
    color: rgb(224, 224, 233) !important;
    text-align: center;
    !important;
}

.home {
    /* Seção principal */
    text-align: left;
    color: #010b0e:#020d16 !important;
    border-radius: 50px;
    margin: 30px;
    text-decoration: none;
    box-shadow: 40px;
    padding: 30px;
}

#home {
    color: rgb(19, 1, 1);
    padding:20px;
}

#home ul {
    color: rgb(255, 252, 252);
    padding: 20px;

}

#home li {
    color: #010311ee;
}

#home ul {
    list-style-type: none;
    /* Remove os pontos */
    padding:0px;
    /* Remove o padding */
}

#home li {
    margin: 20px 0;
    /* Espaçamento entre os itens */
}

#home a.Artigos {
    text-decoration: none;
    /* Remove o sublinhado */
    color: #000;
    /* Cor do texto */
    transition: color 0.3s;
    /* Transição suave para a cor */
}

#home a.Artigos:hover {
    color: #007BFF;
    /* Cor ao passar o mouse */
}

#footer {
    background-color: #eef5f7;
    text-align: center;
    color: rgb(229, 217, 231);
}

.rodape {
    border: 20px;
    color: #fafaf4;
    border-top: 1px solid #eeeaea;
    background-image: linear-gradient(to right, #0c042b, rgba(12, 10, 10, 0.589), #150633);
}

.mapa {
    /*ORGANIZAÇÃO DO MAPA*/
    text-align: center;

    width: 200pxpx;
    margin: auto;
}

.map {
    /*ALTERAR COR DA BORDA*/
    box-shadow: 5px 5px 180px rgba(17, 1, 1, 0.973);
}

.celular {
    display: none;
}

.titulo{
    white-space: nowrap;
}

/*Adaptação para o celular  e responsividade*/
@media (max-width:624px) {
    .opcoes {
        /* position: absolute;
        top: 60px;
        left: -100px; */
        display:none;
        /*Desaparece a lista menu*/
    }
    .section {
        font-size: 20px;
        max-width: 300px;

    }

    iframe {
        width: 250px;
    }

    .celular {
        display:inline;
        word-wrap:normal;
        margin-left: 0px;
        color: rgb(22, 2, 2);
        padding-top: 10px;
        font-size: x-large;

    }
    .mostrarMenu{
        display:grid;
        background-color: #000000;
    
        
    }
    .menu{
        margin-left: 0px !important;
        text-align: left !important;
    }

    .titulo{
        width: 50%;
    }
   

}